<section class="sermons">

  <div class="container">

    <span class="section-label">
      Predicaciones
    </span>

    <h2>
      Escucha la Palabra de Dios
    </h2>

    <p class="section-description">
      Explora las predicaciones más recientes compartidas en nuestra congregación.
    </p>

    <div class="cards">

      <article class="card">

        <span class="type">
          Culto Dominical
        </span>

        <h3>
          Ejemplo 1
        </h3>

        <p>
          Ejemplo 1.1
        </p>

      </article>

      <article class="card">

        <span class="type">
          Culto de Jóvenes
        </span>

        <h3>
          Ejemplo 2
        </h3>

        <p>
          Ejemplo 2.1
        </p>

      </article>

      <article class="card">

        <span class="type">
          Culto Dominical
        </span>

        <h3>
          Ejemplo 3
        </h3>

        <p>
          Ejemplo 3.1
        </p>

      </article>

    </div>

  </div>

</section>
