<section class="hero">

    <div class="hero-overlay">

        <div class="hero-content">

            <h1>Llamados para Su Gloria</h1>

            <p class="hero-subtitle">
                ¡Una familia de fe, glorificando a Dios!
            </p>

            <p class="hero-verse">
                Isaías 43:7
            </p>

            <div class="hero-buttons">

                <button>
                    Ver prédicas
                </button>

                <button>
                    Visítanos
                </button>

            </div>

        </div>

    </div>

</section>
