<section class="about-preview">

  <div class="about-content">

    <div class="about-text">

      <span class="section-label">
        Nosotros
      </span>

      <h2>
        Una familia de fe que vive para glorificar a Dios
      </h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, odit consectetur vitae ipsam tempora voluptatibus eum corrupti cum asperiores molestias ullam labore consequatur distinctio, modi consequuntur molestiae, deleniti accusantium rerum ipsa. Aut reprehenderit ipsa, cumque commodi temporibus eveniet ducimus nihil debitis laudantium numquam obcaecati, ad sequi dolorum dolor tenetur animi!
      </p>

      <button>
        Conocer más
      </button>

    </div>

    <div class="about-image">

      <img
        src="/images/hero/congregacion.jpeg"
        alt="Congregación de Llamados para Su Gloria">

    </div>

  </div>

</section>
